<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windupurnomo.simadutanjung" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.windupurnomo.simadutanjung.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.windupurnomo.simadutanjung.Editor"
            android:label="@string/title_activity_editor" >
        </activity>
        <activity
            android:name="com.windupurnomo.simadutanjung.activities.DataList"
            android:label="@string/title_activity_data_list" >
        </activity>
        <activity
            android:name="com.windupurnomo.simadutanjung.activities.Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.windupurnomo.simadutanjung.activities.FormGardu"
            android:label="@string/title_activity_form_gardu" >
        </activity>
        <activity
            android:name="com.windupurnomo.simadutanjung.activities.DetailGardu"
            android:label="@string/title_activity_detail_gardu" >
        </activity>
        <activity
            android:name="com.windupurnomo.simadutanjung.activities.MeasurementActivity"
            android:label="@string/title_activity_measurement" >
        </activity>
        <activity
            android:name="com.windupurnomo.simadutanjung.activities.MeasurementAnalysis"
            android:label="@string/title_activity_measurement_analysis" >
        </activity>
    </application>

</manifest>
